<div class="employee-details-container">
    <button mat-icon-button  (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    @if (isLoading) {
      <app-loading-spinner />
    } @else if (employee) {

      <div class="employee-details">
          <div class="buttons">
            <button mat-raised-button (click)="editEmployee(employee)">Edit</button>
          </div>
          <div class="employee-header">
            <img 
              [src]="employee.imageUrl || configService.getConfig().ui.detailView"
              [alt]=""
              class="employee-image"
              (error)="handleImageError($event)"/>
          </div>
            <div class="employee-info">
              <h1>{{ employee.name }}</h1>
            </div>

            <div class="employee-info">
              <p>{{ employee.department }}</p>
            </div>

            <div class="employee-info">
              <p>{{ employee.email }}</p>
            </div>

            <div class="employee-info">
              <p>{{ employee.phone }}</p>
            </div>

            <div class="employee-info">
              <p>{{ employee.position }}</p>
            </div>
      </div>

    }

</div>