.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
  //margin-left: 250px;
  padding: 2rem;
  
  &.sidebar-collapsed {
    margin-left: 80px;
  }
  
  @media (max-width: 768px) {
    margin-left: 0;
    
    &.sidebar-collapsed {
      margin-left: 0;
    }
  }
}