.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spinner {
    width: 100%;
    height: 100%;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: currentColor;
    animation: spin 1s ease-in-out infinite;
  }
  @keyframes spin {
    to { transform: rotate(360deg); }
  }