.employee-form {
  padding: 24px;
  width: 100%;
  max-width: 800px;

  h1 {
    margin-bottom: 24px;
  }

  .image-upload-wrapper {
    margin-bottom: 16px;
    
    .upload-status {
      margin-top: 8px;
      
      progress {
        width: 100%;
        margin-right: 8px;
      }
    }
    
    .success {
      color: green;
    }
    
    .error {
      color: red;
    }
  }

  .same-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 24px;
  }
}